ul {
  &.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    li {
      display: grid;
      grid-template-columns: 100px 1fr;

      img {
        max-width: 200px;
      }
    }
  }
}

ol {
}
